body {
    background-color: #0B1C51;
    font-family: Montserrat;
}

h1 {
    color: white;
    font-size: 52px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    padding: 0px;
}

li a {
    align-items: center;
    padding: 0 10px;
}

@media all and (max-width: 600px) {
    h1 {
        font-size: 48px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }
}